@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.woff2') format('woff2'),
      url('../fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Thin.woff2') format('woff2'),
      url('../fonts/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Black.woff2') format('woff2'),
      url('../fonts/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Italic.woff2') format('woff2'),
      url('../fonts/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLight.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BlackItalic.woff2') format('woff2'),
      url('../fonts/Poppins-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ThinItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
      url('../fonts/Poppins-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-MediumItalic.woff2') format('woff2'),
      url('../fonts/Poppins-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

html{
  scroll-behavior: smooth;
}
body{
    background: #f9f9f9;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden ; 
}
p{
    margin-bottom: 0;
}
a:hover{
    text-decoration: none;
}
.padding-rl{
    padding: 0 4rem;
}
.padding-tb{
    padding: 3rem 0;
}


.header{
    background: #f5f5f5;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.navbar{
    padding: .5rem 0;
}
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}
.hamburger-box:focus{
    outline: none;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner.js-hamburger {
    background-color: #cb6120;
}

.hamburger-inner.js-hamburger:before {
    background-color: #cb6120;
}

.hamburger-inner.js-hamburger::after {
    background-color: #cb6120;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 35px;
    height: 3px;
    background-color: #cb6120;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
    top: 6px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s;
}
button:focus{
    outline: none;
}
.navbar-content{
    display: flex;
    width: 100%;
}
.nav-item{
    display: flex;
    align-items: center;
}

.nav-item a.nav-link{
    color: #525252;
    transition: .3s;
}
.nav-item a.nav-link:hover, .nav-item a.nav-link.nav-ingresar:hover{
    color: #cb6120;
    transition: .3s;
}
.nav-item a.nav-link.nav-registrar{
    color: #cb6120;
    font-weight: 900;
    transition: .3s;
    cursor: pointer;
}
.nav-item a.nav-link.nav-registrar:hover{
    color: #f1ac00;
    transition: .3s;
}
.nav-item a.nav-link.nav-ingresar{
    color: #f1ac00;
    font-weight: 900;
    transition: .3s;
}
.banner{
    padding-top: 1rem;
}
.main-banner__content{
    position: relative;
}
.main-banner__text{
    position: absolute;
    top: 20%;
    padding-left: 4rem;
    z-index: 1;
    width: 50%;
}
.main-banner__img--content{
    height: 100vh;
}
.main-banner__img--content img{
    width: 100%;
    height: 100%;
}
.main-banner__content .slick-dotted.slick-slider{
    margin-bottom: 0 !important;
}
.main-banner__content .slick-dots{
    bottom: 15%;
}


.main-cards__slider .slick-dots li button:before, .main-banner__content .slick-dots li button:before{
    content: '';
    width: 20px;
    height: 8px;
    border-radius: 5px;
    transition: .3s;
    background: #ffbe97 !important;
}
.main-cards__slider .slick-dots .slick-active button:before, .main-banner__content .slick-dots .slick-active button:before{
    width: 40px;
    transition: .3s;
    margin: 0 -15px !important;
}
.main-banner__title{
    margin-bottom: 3rem;
}
.title-general{
    color: #707070;
    font-size: 3.5rem;
    font-weight: 900;
}
.main-banner__text .subtitle-general{
    margin-bottom: 1rem;
}
.subtitle-general{
    color: #cb6120;
    font-weight: 900;
    font-size: 1.2rem;    
}
.boton-general{
    text-decoration: none;
    color: #fff;
    padding: 5px 45px;
    background: #cb6120; 
    border-radius: 25px;
    font-weight: 600;
    transition: .3s ease-in-out;
}
.boton-general:hover{
    background: #f1ac00;
    transition: .3s ease-in-out;
    color: #fff;
}
.subanner{
    display: flex;
    justify-content: space-around;
    margin-top: -60px;
}

.subanner-content{
    box-shadow: 0px 0px 8px 0px rgba(112,112,112,0.57);
    padding: 1rem;
    border-radius: 20px;
    margin-top: -60px;
    z-index: 2;
    background: #fff;
    width: 13%;
}
.subanner-content img{
    width: 100%;
}
.subanner-content p{
    font-size: .8rem;
    color: #707070;
    font-weight: 700;
    text-align: center;
}
.search-content{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}
.search-content input{
    width: 35%;
    background: #f0efef;
    border: none;
    font-family: 'Poppins' !important;
    font-size: .9rem;
    font-weight: 700;
    border-radius: 0 50px 50px 0;
}
.search-content input:focus{
    box-shadow: 0 0 0 0;
    background: #f0efef;
}
.search-content input::placeholder{
    font-family: 'Poppins' !important;  
    font-size: .9rem;
    font-weight: 700; 
}
.search-content button:nth-child(1){
    border: none;
    border-radius: 50px 0 0 50px;
    background: #f0efef;
    padding-left: 20px;

}
.search-content button:nth-child(1) img{
    width: 25px;
}
.btn-search{
    font-size: .9rem;
    font-weight: 700;
    border: 2px solid #cb6120;
    color: #cb6120;
    border-radius: 30px;
    padding: 0 25px;
}
.btn-search:hover{
    border-color: #f1ac00;
    color: #f1ac00;
    transition: .3s ease-in-out;
}
.cards-dropdown{
    display: flex;
    justify-content: flex-end;
}
.dropdown-menu{
    transform: translate3d(-50px, 30px, 0) !important;
}
.dropdown{
    padding-left: 15px;
}
.cards-dropdown .dropdown-toggle{
    color: #707070;
    font-weight: 900;
}
.cards-dropdown .dropdown-toggle:hover{
    text-decoration: none;
}
.main-cards__slider{
    padding: 4rem;
}
.main-cards__slider .slick-track{
    margin: 30px 0 !important;
}
.main-cards__slider .slick-prev,.main-cards__slider .slick-next{
    background: transparent;
}
.main-cards__slider .slick-prev:hover,
.main-cards__slider .slick-next:hover,
.main-cards__slider .slick-prev:focus,
.main-cards__slider .slick-next:focus{
    border: none;
}
.main-cards__slider .slick-prev:before, .main-cards__slider .slick-next:before{
    color: #cb6120;
    font-family: 'fontAwesome';
    opacity: 1;
}
.main-cards__slider .slick-prev:hover:before, .main-cards__slider .slick-next:hover:before{
    color: #f1ac00;
    transition: .3s ease-in-out;
}
.main-cards__slider .slick-prev{
    left: 0;
}
.main-cards__slider .slick-next{
    right: 0;
}
.main-cards__slider--content{
    margin: 0 10px;
    box-shadow: 0px 0px 8px 0px rgba(112,112,112,0.57);
    border-radius: 20px;
    transition: .3s ease-in-out;
}
.main-cards__slider--content:hover{
    transform: translateY(-5px);
    transition: .3s ease-in-out;
}
.slider-card__content{
    padding: 1rem;
}
.slider-card__content--title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-card__content--title p{
    color: #707070;
    font-weight: 700;
    font-size: 1.1rem;
}
.slider-card__content--title span{
    background: #f1ac00;
    color: #fff;
    padding: 1px 5px;
    border-radius: 15px;
    font-size: 10px;
}
.slider-card__content--title small{
    color: #b2b2b2;
}
.slider-card__img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
.slider-card__content--etiqueta{
    background: #f0efef;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70px;
    border-radius: 10px;
    padding: 4px;
}
.slider-card__content--etiqueta p{
    font-size: 8px;
    font-weight: 700;
    color: #797979;
}
.content--etiqueta__color{
    width: 12px;
    height: 12px;
    background: #26cd2a;
    border-radius: 50%;
}
.slider-card__content--text{
    display: flex;
    justify-content: space-between;
}
.slider-card__content--text p{
    font-size: 10px;
    width: 85%;
    color: #707070
}
.content--text__logo{
    width: 40px;
    height: 40px;
    background: #707070;
    border-radius: 50%;
}
.content--text__logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.main-publicidad{
    position: relative;
    height: 75vh;
}
.main-publicidad__text{
    position: absolute;
    z-index: 1;
    top: 20%;
}
.main-publicidad__bg{
    position: absolute;
    z-index: 0;
}
.slider-card__img{
    height: 185px;
}
.main-publicidad__bg img{
    width: 100%;
}
.main-footer{
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-footer__text{
    text-align: center;
    padding: 1.5rem 0;
}
.main-footer__text p{
    font-size: 1.5rem;
    color: #707070;
    font-weight: 700;
}
.main-footer__afiliar{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-footer__afiliar--input{
    text-align: center;
    padding-bottom: 1rem;
}
.main-footer__afiliar--link{
    text-align: center;
}
.main-footer__afiliar--link a{
    padding: 0 10px;
    color: #707070;
    font-weight: 700;
    transition: .3s ease-in-out;
}
.main-footer__afiliar--link a:hover{
    color: #cb6120;
    transition: .3s ease-in-out;
}
.main-footer__afiliar--input input{
    border: none;
    background: #fff;
    padding: 8px 25px;
    border-radius: 20px;
}
.main-footer__afiliar--input input:focus{
    outline: none;
}
.btn-afiliar{
    background: #cb6120;
    border-radius: 25px;
    padding: 6px 25px;
    margin-left: -20px;
    color: #fff;
    font-size: .8rem;
    transition: .3s ease-in-out;
    font-weight: 600;
}
.btn-afiliar:hover{
    background: #f1ac00;
    transition: .3s ease-in-out;
    color: #fff;
}
.main-footer__copy{
    padding: 2rem 0;
}
.main-footer__copy--copy a{
    color: #cb6120;
    transition: .3s ease-in-out;
}

.main-footer__copy--copy a:hover{
    color: #f1ac00;
    transition: .3s ease-in-out;
}
.modal-dialog{
    width: 45%;
    height: 100vh;
    margin: auto;
}
.modal-content{
    height: 100%;
    border-radius: 20px;
}
.content-modal{
    position: relative;
    height: 100%;
}
.content-modal button.close{
    position: absolute;
    color: #707070;
    opacity: 1;
    font-size: 2rem;
    right: 15px;
}
.content-modal__title{
    position: absolute;
    top: 5%;
    margin: 0 4rem;
    font-size: 2.5rem;
    text-align: center;
}
.formulario-modal{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 8.5rem;
    top: 40%;
    width: 55%;
}
.formulario-modal input{
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 25px !important;
    margin-bottom: 1rem !important;
    width: 100% !important;
}
.formulario-modal input:focus{
    outline: none !important;
}
.btn-formulario{
    background: #cb6120 !important;
    padding: 10px !important;
    color: #fff !important;
    border: none !important;
    border-radius: 25px !important;
    font-weight: 700 !important;
    transition: .3s ease-in-out;
}
.btn-formulario:hover{
    background: #f1ac00 !important;
    transition: .3s ease-in-out;
}
.boton-google{
    background: #fff;
    padding: 5px 40px;
    color: #707070;
    font-weight: 500;
    border-radius: 50px;
    box-shadow: 0px 0px 8px 0px rgba(112,112,112,0.57) ;
    margin-top: 3rem;
}
.boton-google:hover{
    color: #707070;
}
.boton-google span{
    color: #f1ac00;
    font-size: 1.3rem;
    font-weight: 700;
    transition: .3s ease-in-out;
}
.boton-google:hover span{
    color: #cb6120;
    transition: .3s ease-in-out;
}
.fondo-modal{
    width: 100%;
    height: 100%;
}
.fondo-modal img{
    width: 100%;
    height: 100%;   
}
.nav-responsive{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;
}
.nav-responsive__main{
    display: flex;
    justify-content: space-around;
}
.nav-responsive__content{
    padding: .5rem .8rem;
    border-radius: 10px;
}
.nav-box{
    box-shadow: 0px 0px 8px 0px rgba(112,112,112,0.57);
}
.banner-envios{
    padding-top: 4rem;
}
.banner-envios__img{
    height: 100vh;
}
.banner-envios__img img{
    height: 100%;
    width: 100%;
}
.banner-envios__text{
    position: absolute;
    color: #707070;
    font-size: 3rem;
    font-weight: 900;
    top: 30%;
    width: 45%;
    padding-left: 4rem;
}

.category-envios__content, .ruta-envios__content, .pasos-envios__content, .negocio-envios__content{
    display: grid;
    grid-template-columns: 50% 50%;
}
.category-envios__img {
    height: 75vh;
}

.category-envios__img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.subanner-envios{
    margin-top: 0;
    justify-content: flex-start;
    margin-top: 1rem;
}
.category-envios__text{
    color: #707070;
    padding-right: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.category-envios__text h3, .ruta-envios__text--title h3, .negocio-envios__text--title h3, .form-envios__content--content h3{
    font-weight: 700;
    color: #707070;
}
.category-envios__text p, .negocio-envios__text--text p{
    text-align: justify;
    padding: 1.5rem 0;
    font-weight: 600;
}
.subanner-envios .subanner-content{
    margin-top: 0;
    width: 15%;
    margin-right: 1rem;
    padding: .5rem;
}
.subanner-envios .subanner-content p{
    font-size: .6rem;
    text-align: center;
    padding: initial;
}

.pasos-envios__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.pasos-envios__card{
    display: flex;
    flex-wrap: wrap;
}
.pasos-envios__img h3{
    font-weight: 700;
    color: #707070;
    padding-bottom: 2rem;
}
.pasos-card__content{
    width: 35%;
    padding: 1rem 1.5rem;
    box-shadow: 0px 0px 4px 0px rgba(112,112,112,0.44);
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.pasos-card__content:nth-child(1){
    margin-top: 0;
}
.pasos-card__content:nth-child(2){
    margin-top: 0;
}
.pasos-card__content--img{
    width: 90px;
    height: 90px;
}
.pasos-card__content--img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.pasos-card__content--title{
    color: #f1ac00;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    padding: 1rem 0;
}
.pasos-card__content--text{
    color: #525252;
    font-size: .8rem;
    text-align: center;
    font-weight: 600;
}
.ruta-envios__img{
    height: 75vh;
}
.ruta-envios__img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.ruta-envios__text, .negocio-envios__text{
    color: #707070;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ruta-envios__text--text{
    padding: 2rem 0;
    font-weight: 600;
}
.btn-ruta-envios{
    color: #cb6120;
    font-weight: 800;
    background: #e6e6e6;
    padding: .5rem 1rem;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px rgba(112,112,112,0.44);
    transition: .3s ease-in-out;
}
.btn-ruta-envios:hover{
    color: #f1ac00;
    transition: .3s ease-in-out;
}
.negocio-envios__img{
    height: 80vh;
}
.negocio-envios__img img{
    width: 100%;
    object-fit: contain;
    height: 100%;
    object-position: right;
}
.negocio-envios__text{
    padding-left: 4rem;
}
.negocio-envios__text--text span{
    color: #f1ac00;
    font-weight: 700;
    padding: 1rem 0;
}
.negocio-envios__text--text{
    padding-bottom: 2rem;
}
.repartir-envios__img img{
    object-position: initial;
}
.repartir-envios__text{
    padding-right: 4rem;
    padding-left: 0;
}
.form-envios__content{
    display: grid;
    grid-template-columns: 65% 45%;
}
.form-envios{
    background: #f5f5f5;
}
.form-envios__content--img{
    height: 75vh;
}
.form-envios__content--img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.form-envios__content--form{
    padding: 0 8rem;
    text-align: center !important;
}
.form-envios__content--form input, .form-envios__content--form textarea{
    width: 100% !important;
    background: transparent !important;
    border: 2px solid #cb6120 !important;
    border-radius: 20px !important;
    padding: .3rem .8rem !important;
    margin: .5rem 0 !important;
    transition: .3s ease-in-out !important;
    resize: none !important;
    overflow: hidden;
}
.form-envios__content--form input:focus, .form-envios__content--form textarea:focus {
    outline: none !important;
    border-color: #f1ac00 !important;
    transition: .3s ease-in-out !important;

}
.form-envios__content--content h3{
    padding: 3rem 0;
}
.btn-form-envios{
    background: transparent !important;
    color: #cb6120 !important;
    border: 2px solid #cb6120 !important;
    padding: .4rem .8rem !important;
}
.btn-form-envios:hover{
    background: transparent !important;
    color: #f1ac00 !important;
    border-color: #f1ac00 !important;
}
.footer-envios .main-footer__afiliar--link a{
    font-weight: 300;
    cursor: pointer;
    color: #707070;
    transition: .3s ease-in-out;
}
.footer-envios .main-footer__afiliar--link a:hover{
    color: #cb6120;
    transition: .3s ease-in-out;
}